head {
    background-color: 76704C;
    color: #ECE2D6;
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
}

body {
    background-color: 76704C;
    color: #ECE2D6;
    font-family: 'Heebo', sans-serif;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    width: auto;
}

p {
    background-color: #545E45;
    color: #ECE2D6;
    padding: 10px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ECE2D6;
    margin-top: 10px;
    background-color: #B55119;
    padding: 25;
}
nav a {
    text-decoration: none;
    color: #ECE2D6;
}

ul a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    justify-content: 40%;
    margin-left: 15px;
    background-color: #ECE2D6;
    color: #B55119;
}

head {
    background-color: #ECE2D6;
}

section {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   padding: 100;
    padding-top: 100;
}

#foto {
    display: flex;height: 350;
    width: 350;
    justify-content:flex-start;
    flex-direction: row;
    border-radius: 20%;
  padding: 11;
  opacity: 10
  

}

#prifoto {
    width: 658;
    height: 486;
    justify-content: flex-start;
    align-content: flex-start;
   
    border-color: #B55119;
}
 
footer{
    background-color: #545E45;
}

.titulo-lista-footer{
    font-size: 25;
    text-decoration: underline;
    padding: 10;
}

.lista-footer{
    list-style-type: none;
    float: right;
    width: 100%s;


    }
.elemento-lista-footer{
    padding: 10;
}


